@media (min-device-width: 320px) and (max-device-width: 510px) {


#topNav{
	padding:30px;
}
#topNav img{
	height:20%;
	width:20%;

}

header{
	background-size: 90% 40%;
	height:1500px;
	position:relative;
	top:-10px;
	margin-top:0;
	border:none;	
}

header h1{
	position:relative;
	top:0px;
	font-size:7em;
}

header .subheader h2{
	position:relative;
	top:650px;
	font-size: 5em;
}

header .subheader h3{
	position:relative;
	top:600px;
	font-size: 3em;

}


.description .container{
	margin-top:-300px;
	width:70%;
	font-size: 5em;
	margin-bottom:-20px;
}

.accordionTitle,
.accordion__Heading{
	font-size: 0.7em;
/*	height:20px;
*/}

.plusicon{
	font-size: 0em;
}

.container p, .container ul{
	font-size: 0.5em;
	line-height: 70px;
}

.container ul li{
	line-height: 70px;
}

.topics h2, .topics h3{
	font-size: 4em;
	line-height: 80px;
}

.topics h3{
	font-size: 3em;
}

.topics h3{
	margin-top:-40px;
}	

.topics h2{
	position:relative;
	bottom: 10px;
}

.topics h3{
	margin-bottom:100px;
}

.topicContainer{
	width:90%;
	display:block;
	margin: 0 auto;
	margin-bottom:250px;
}


.topicContainer h3{
	text-align: center;
	font-size: 4em;
	line-height: 90px;
	margin-bottom:70px;
}


.topicContainer p{
	
	font-size: 3em;
	text-align: justify;
	width: 90%;
	line-height: 100px;
/*	margin:0px auto;
*/}

.topicSelection_1, .topicSelection_2, .topicSelection_3, .topicSelection_4{
	width:600px;
	height:600px;
	border-radius: 300px;
	margin-bottom:100px;
}

#submission{
	border-top:1px solid gray;
	text-align: center;
	margin-bottom:5%;
	color:#007398;
	margin-top:10%;
}

#submission h2{
	margin-top:5%;
	font-size: 3em;
}

#submission h3{
	font-size: em;
	margin-bottom: 10%;
}

#submission form{
	font-size: 2em;
}


.footerwrap{
	height: 100px;
}
.footerwrap p{
		text-align: center;
/*		padding-top:15px;
*/		position:relative;
		top:30px;
		font-size: 2em;
		
}


}